* {
    box-sizing: border-box;
}


body {
    
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.header li a {
    font-size: 17px;
}

a {
    scroll-behavior:smooth 300ms;
}

a:hover {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
}
.header {
    width: 100vw;
  
}

.header ul {
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    height: 1%;
    padding: 25px 0 20px 0;
}

.orlandopic img {
    max-height: 35vw;
    width: 100%;

    /*background-image: url("/Images/OrlandoSky.jpeg");
    background-size: contain;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center; */
    
    
  }

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.gallery img:hover {
    cursor: pointer;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
   justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    
}

.reasons {
    background-color: #bee9e8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 80px;
}
.reasons .reasons1, .reasons .reasons2 {
    margin: 0 auto;
}
.descrip {
    width: 450px;
}

.come {
    text-align: center;
    margin: 25px 0 0 0;
    padding-bottom: 55px;
}

.socials {
   margin: 0 auto;
    max-width: 850px;
}

.logo {
    min-width: 100px;
    max-height: 100px;
    margin-top: 90px;
}



.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
}
.socials h2 {
    text-align: center;
}
.newsletter,.email {
    max-width: 50px;
    min-height: 50px;

}


 .steak {
    min-width: 250px;
    max-height: 250px;
    border-radius: 2%;
   float: left;
    margin-right: 35px;
   

}
.steak:hover {
    -webkit-box-shadow: 5px 2px 4px 0px rgba(31,14,9,0.57); 
    box-shadow: 5px 2px 4px 0px rgba(31,14,9,0.57);
    opacity: 85%;
}


.artstudio {
    min-width: 100px;
    max-height: 220px;
    border-radius: 2%;
    margin-left: 40px;
    -webkit-box-shadow: 5px 2px 4px 0px rgba(31,14,9,0.57); 
    box-shadow: 5px 2px 4px 0px rgba(31,14,9,0.57);
    float: right;

}
.artstudio:hover {
    -webkit-box-shadow: 5px 2px 4px 0px rgba(31,14,9,0.57); 
    box-shadow: 5px 2px 4px 0px rgba(31,14,9,0.57);
    opacity: 85%;
}

.reasons1 {   
    width: 75%;
    min-height: 250px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 210px;
    font-size: .95em;
    border: solid 1px black;
}
.reasons1 span {
    font-weight: bold;
    font-size: 22px;  
}


.reasons2 {
    width: 75%;
    min-height: 250px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;

    padding-bottom: 150px;
    font-size: .95em;
    border: solid 1px black;
}
.reasons2 span {
    font-weight: bold;
    font-size: 20px;  
}
#info, #todo, #follow {
    font-size: 30px;
}
/*
footer {
    background-color: #bee9e8;
    margin-bottom: 0; */


.hover-shadow:hover {
    box-shadow: 3px 3px 4px 0px rgba(179,163,152,0.94);
}

.footer {
    margin-left: 50px;
    margin-right: 50px;
    
    background-color: #bee9e8;
    border: solid 1px black;
    height: 100%;
}
.footer-items {
    display: block;
    float: left;
    
}


.footer-items.email {
    margin-left: 40px;
}

.created {
    float: right;
}

@media (max-width:600px){
    .orlandopic {
        width: 100vw;
        min-height: 350px;
        object-fit: cover;
        z-index: 9;
    }
    .header {
        position: fixed;
        top: 0;
        
        background-color: #fef9ef;
        height: 210px;
    }
    body {
        background-color: #fef9ef;
    }
.main {
    margin-top: 240px;
    background-color: #fef9ef;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 35px;

}
.gallery img {
    width: 76px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.reasons {
    width: 100%;
}
.reasons1 {
    
    width: 250px;
    text-align: center;
    font-size: 13px;
}
.reasons2 {
   
    width: 250px;
    text-align: center;
    font-size: 13px;
}


/* .reasons {
    margin: 0 auto;
    width: 500px;
}

.reasons1 {
    margin: 0 auto;
    font-size: 13px;
}
 .reasons1 img {
    margin-bottom: 20px;
    margin: 0 auto;
 }

 .reasons1 span {
    font-weight: bold;
    font-size: 16px;
 }
 .reasons2 {
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
    border-style: none;
    margin-bottom: -15px;
 }
 .reasons2 span {
    font-weight: bold;
    font-size: 16px;
 }
.reasons2 img {
    margin-bottom: 20px; 
}
*/



/*  footer {
    background-color: #bee9e8;
    */

}
.socials{
  margin-top: 10px;
}
.socials h2 {
    font-size: 15px;
    font-weight: bold;
}
.logo{
    margin-top: 60px;
    min-width: 10px;
    max-height: 40px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: normal;
}
a:hover {
    color: black;
    text-decoration: none;
}
 }
